/*Variables*/
:root {
    --background-color: rgb(34, 35, 38);
    --panels-color: rgb(51, 49, 64);
    --accent-color: rgb(168, 133, 242);
    --font-color: rgb(255, 255, 255);
}

.hide-thing {
    visibility: hidden;
}

.margins{
    margin-left: 40%;
    margin-right: 20%;
}

/*MODO LANDSCAPE----------------------------------------------------------------------------------------*/

@media (min-width: 1201px) or (orientation: landscape) {

    .foryou-button {
        border-bottom: 0;
    }

    .profile-button {
        border-bottom: 3px solid var(--accent-color);
    }

    /*Scroll del perfil---------------------------------------------------------------------------------*/
    .profile-scroll {
        margin-left: 20%;
        grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    /*se supone que entre banner y banner image se logra que sin importar la imagen sea 16/9 pero idk*/
    .banner {
        grid-column: 2 / 5;
        grid-row: 1 / 6;
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .banner-image {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translateX(-50%);
        filter: brightness(50%);
    }

    .galery-selection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 40%;
        margin-right: 20%;
        background-color: var(--panels-color);
    }

    .highlights-galery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 40%;
        margin-right: 20%;
        grid-template-rows: repeat(4, auto);
        background-color: var(--panels-color);
    }

}

/*MODO PORTRAIT----------------------------------------------------------------------------------------*/

@media (max-width: 767px) or (orientation: portrait) {

    /*Scroll del perfil---------------------------------------------------------------------------------*/
    .profile-scroll {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /*se supone que entre banner y banner image se logra que sin importar la imagen sea 16/9 pero idk*/
    .banner {
        grid-column: 1/ 1;
        grid-row: 1 / 1;
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .banner-image {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translateX(-50%);
        filter: brightness(50%);
    }

    .galery-selection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--panels-color);
    }

    .highlights-galery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        background-color: var(--panels-color);
    }
}

.profile-image {
    width: 13%;
    position: absolute;
    top: 8%;
    left: 8%;
    z-index: 1;
}

.user-name {
    width: 50%;
    position: absolute;
    top: 16%;
    left: 22%;
    z-index: 1;
}

.edit-button {
    width: 20%;
    position: absolute;
    top: 90%;
    left: 78%;
    z-index: 1;
    white-space: nowrap;

}

.settings-button {
    width: 20%;
    position: absolute;
    top: 4%;
    left: 78%;
    z-index: 1;
}


.stats {
    width: 20%;
    position: absolute;
    top: 75%;
    left: 9%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 15%;
}

.stat {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    position: absolute;
    top: -17px;
    text-align: center;
}
 

.purpleBorder{
    border-bottom: 3px solid var(--accent-color);
}

.panelBorder{
    background-color: var(--panels-color);
}