/*Variables*/
:root {
  --background-color: rgb(34, 35, 38);
  --background-color2: #1e1e1e;
  --panels-color: rgb(51, 49, 64);
  --accent-color: rgb(168, 133, 242);
  --font-color: rgb(255, 255, 255);
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  
}
header {
  background-color: var(--panels-color);
  padding: 15px 0;
  
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo {
  color: var(--font-color);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
nav {
  display: flex;
  gap: 20px;
}
nav a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}
nav a:hover {
  border-radius: 5px;
}

select{
  color: var(--font-color);
  background-color: var(--panels-color);
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-color: var(--accent-color);
}